language = "python3"
run = "python analysis/8_queens.py"
#run = "python src/choice_calc.py"                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           